@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anta&family=Bangers&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Anta", sans-serif;
}
body{
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
.font-abel{
    font-family: "Anta", sans-serif;
}

/* Home.module.css */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
  }
  